Когда используешь терминал, не тупи и используй PowerShell по умолчанию, чтобы все команды быстро обрабатывались. 
Если команда в PowerShell не срабатывает или выдает ошибку, переключайся на использование стандартной командной строки (Command Prompt / cmd).
